.about {
  position: relative;
  padding-top: 46px;
  padding-bottom: 111px;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/icon/triangle-big-dt.svg");
    background-repeat: no-repeat;
    width: 872px;
    height: 873px;

    top: -330px;
    left: -300px;
    transform: rotate(180deg);
    z-index: -1;
  }


  @media (max-width: $desktop-width) {
    padding-top: 12px;
    padding-bottom: 84px;

    &::after {
      display: none;
    }
  }

  @media (max-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 65px;
  }
}

.about__wrapper {
  position: relative;
}

.about__container {
  margin-left: 315px;
  margin-right: 155px;

  &::after {
    content: "";
    background-image: url("../img/2005@1x.png");
    background-repeat: no-repeat;
    width: 180px;
    height: 320px;
    display: block;
    position: absolute;
    top: 5px;
    left: 105px;
  }

  & h2 {
    font-family: $font-family;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    color: $dull-gray;
    margin-bottom: 22px;
  }

  & p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: $dull-gray;

    &:not(:last-of-type) {
      margin-bottom: 21px;
    }
  }

  @media (max-width: $desktop-width) {
    margin-left: 211px;
    margin-right: 28px;

    & h2 {
      font-size: 32px;
      line-height: 45px;
      margin-bottom: 27px;
    }

    &::after {
      top: -2px;
      left: 0;
      height: 356px;
      background-image: url("../img/2005-tablet@1x.png");
    }
  }

  @media (max-width: $tablet-width) {
    width: 90%;
    margin: 0 auto;

    & h2 {
      margin-bottom: 22px;
      font-size: 28px;
      line-height: 34px;
    }

    & p {
      &:not(:last-of-type) {
        margin-bottom: 44px;
      }
    }

    &::after {
      content: none;
    }
  }
}

.about__text-desktop {
  display: inline;

  @media (max-width: $desktop-width) {
    display: none;
  }
}
.about__text-tablet {
  display: none;

  @media (max-width: $desktop-width) {
    display: inline;
  }
}
.about__btn {
  font-family: $font-family;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $sky;
  border: 1px solid $sky;
  border-radius: 5px;
  padding: 13px 49px;
  width: min-content;
  margin-top: 37px;
  display: block;

  &:hover,
  &:focus {
    background-color: $sky;
    color: $white;
  }

  &:active {
    opacity: 0.7;
  }

  @media (max-width: $desktop-width) {
    margin-top: 43px;
  }

  @media (max-width: $tablet-width) {
    margin-top: 29px;
  }
}
