.advantages {
  position: relative;
  padding-top: 111px;

  &::after {
    content: "";
    position: absolute;
    top: 150px;
    left: 51.5%;
    width: 872px;
    height: 873px;
    background-image: url("../img/icon/triangle-big-dt.svg");
    background-repeat: no-repeat;
    transform: translateX(-50%);
    z-index: -1;
  }

  @media (max-width: $desktop-width) {
    padding-top: 57px;
    overflow-x: clip;

    &::after {
      top: 90px;
      left: 84%;
    }
  }

  @media (max-width: $tablet-width) {
    padding-top: 36px;

    &::after {
      top: 55%;
      left: 100%;
    }
  }
}

.advantages__wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1178px;
  margin: 0 auto;
  justify-content: space-between;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 336px;
    height: 324px;
    background-repeat: no-repeat;
    background-image: url("../img/icon/triangle-mini-dt.svg");
  }

  &::before {
    bottom: 45px;
    right: 30px;
    transform: rotate(180deg);
    z-index: -1;
  }

  &::after {
    top: 45px;
    left: 200px;
    z-index: -1;
  }

  @media (max-width: $desktop) {
    margin: 0 25px;
  }

  @media (max-width: $desktop-width) {

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    max-width: $mobile;
    margin: 0 auto;
  }
}

.advantages__item {
  width: 49%;
  min-height: 299px;
  margin-bottom: 30px;
  padding: 40px 44px 40px 43px;
  background-color: $white;
  border: 1px solid $two-white;
  border-left: 3px solid $sky;

  & svg {
    fill: $sky;
  }

  & h2 {
    margin: 16px 0;
    font-family: $font-family;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: $sky;
  }

  & p {
    font-weight: 400;
    line-height: 22px;
    color: $dull-gray;
  }

  &:hover,
  &:focus {
    background-color: $sky;

    & svg {
      fill: $white;
    }

    & h2 {
      color: $white;
    }

    & p {
      color: $white;
    }
  }

  @media (max-width: $desktop-width) {
    width: 48%;
    min-height: min-content;
    margin-bottom: 27px;
    padding: 21px 21px 24px 23px;

    & h2 {
      margin: 6px 0;
    }

    & p {
      margin-top: 10px;
      margin-bottom: 0;
    }
  }

  @media (max-width: $tablet-width) {
    width: 90%;
    margin: 0 auto 27px;
    padding: 24px 13px 21px 24px;

    & h2 {
      font-size: 20px;
      line-height: 28px;
    }

    & p {
      line-height: 22px;
    }
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin: 6px auto 18px;
    padding: 23px 19px 24px;
    min-height: 232px;

    &:nth-child(2) {
      padding-right: 10px;
    }
  }
}
