.advantages {
  position: relative;
  padding-top: 111px;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/icon/triangle-big-dt.svg");
    background-repeat: no-repeat;
    width: 872px;
    height: 873px;

    top: 150px;
    left: 51.5%;
    transform: translateX(-50%);
    z-index: -1;
  }



  @media (max-width: $desktop-width) {
    padding-top: 57px;
    overflow-x: clip;

    &::after {
      top: 90px;
      left: 84%;
    }
  }

  @media (max-width: $tablet-width) {
    padding-top: 36px;

    &::after {
      top: 55%;
      left: 100%;
    }
  }
}

.advantages__wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1178px;
  margin: 0 auto;
  justify-content: space-between;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon/triangle-mini-dt.svg");
    background-repeat: no-repeat;
    width: 336px;
    height: 324px;
    transform: rotate(180deg);
    bottom: 45px;
    right: 30px;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/icon/triangle-mini-dt.svg");
    background-repeat: no-repeat;
    width: 336px;
    height: 324px;

    top: 45px;
    left: 200px;
    z-index: -1;
  }

  @media (max-width: $desktop-width) {
    max-width: 723px;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    max-width: $mobile;
  }
}

.advantages__item {
  width: 48%;
  min-height: 299px;
  border: 1px solid $two-white;
  border-left: 3px solid $sky;
  padding: 40px 38px;
  margin-bottom: 30px;
  background-color: $white;
  cursor: pointer;

  & svg {
    fill: $sky;
  }

  & h2 {
    font-family: $font-family;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: $sky;
    margin: 16px 0;
  }

  & p {
    font-weight: 400;
    line-height: 22px;
    color: $dull-gray;
  }

  &:hover,
  &:focus {
    background-color: $sky;


    & svg {
      fill: $white;
    }

    & h2 {
      color: $white;
    }

    & p {
      color: $white;
    }
  }

  @media (max-width: $desktop-width) {
    width: 48%;
    min-height: min-content;
    padding: 21px 24px 24px 23px;
    margin-bottom: 27px;

    & h2 {
      margin: 6px 0;
    }

    & p {
      margin-top: 10px;
      margin-bottom: 0;
    }
  }

  @media (max-width: $tablet-width) {
    width: 90%;
    margin: 0 auto 27px;
    padding: 24px 13px 21px 24px;

    & h2 {
      font-size: 20px;
      line-height: 28px;
    }

    & p {
      line-height: 22px;
    }
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin: 6px auto 34px;
    padding: 21px 13px 24px 24px;
    min-height: 232px;

    &:nth-child(2) {
      padding-right: 10px;
    }
  }
}
