.feedback {
  position: relative;
  padding: 91px 0 112px;
  background-color: $sky;
  background-image: url("../img/icon/rectangle-dt.svg");
  background-repeat: no-repeat;
  background-position: 175px -60px, 1556px 35px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
  }

  &::before {
    width: 335px;
    height: 335px;
    right: -56px;
    top: 43px;
    background-image: url("../img/icon/triangle-fb1.svg");
  }

  &::after {
    width: 373px;
    height: 373px;
    right: -28px;
    bottom: 13px;
    background-image: url("../img/icon/triangle-fb2.svg");
  }

  @media (max-width: $desktop) {
    &::before,
    &::after {
      content: none;
    }

    background-position: -45px -60px, 1556px 35px;
  }

  @media (max-width: $desktop-width) {
    padding: 76px 0 104px;
    background-image: none;
  }

  @media (max-width: $tablet-width) {
    padding: 24px 0 42px;
  }
}

.feedback__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 1225px;
  margin: 0 auto;
  padding: 0 28px;

  @media (max-width: $desktop-width) {
    justify-content: center;
    padding: 0;
  }
}

.feedback__form {
  position: relative;
  width: 570px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  min-height: 461px;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: 70px;
    left: -624px;
    display: block;
    width: 511px;
    height: 288px;
    background-image: url("../img/paper-airplane@1x.png");
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/paper-airplane@2x.png");
    }

    @media (max-width: $desktop) {
      width: 400px;
      top: 87px;
      left: -421px;
    }

    @media (max-width: $desktop-width) {
      content: none;
    }
  }

  & fieldset {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
  }

  & legend {
    width: 100%;
    margin: 0;
    margin-left: -4px;
    font-family: $font-family;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    color: $white;

    @media (max-width: $desktop-width) {
      font-size: 32px;
    }

    @media (max-width: $tablet-width) {
      font-size: 28px;
      line-height: 42px;
    }
  }

  & p {
    width: 100%;
    margin: 10px 0 51px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $white;
  }

  & input:not([type="checkbox"]) {
    width: 270px;
    height: 50px;
    padding: 14px 16px;
    border: none;
    color: $white;
    border-radius: 0;
    background-color: rgba($white, 0.1);

    &:hover,
    &:focus {
      border: 1px solid rgba($white, 0.7);
      padding: 13px 15px;
    }

    &::placeholder {
      color: $white;
    }
  }

  & textarea {
    width: 100%;
    margin: 40px 0 43px;
    padding: 13px 16px;
    min-height: 154px;
    font-size: 16px;
    background-color: rgba($white, 0.1);
    border: none;
    border-radius: 0;
    color: $white;
    resize: none;

    &:hover,
    &:focus {
      border: 1px solid rgba($white, 0.7);
      padding: 12px 15px;
    }

    &::placeholder {
      color: $white;
    }
  }

  & button {
    width: 270px;
    min-height: 45px;
    padding: 14px 18px;
    font-family: $font-family;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $white;
    border: 1px solid $white;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: $white;
      color: $sky;
    }

    &:active {
      opacity: 0.7;
    }
  }

  & label[for="checked"] {
    position: relative;
    width: 270px;
    padding: 8px 0 0 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba($white, 0.8);
    cursor: pointer;

    &:hover,
    &:focus {
      color: rgba($white, 1);
    }

    &:active {
      color: rgba($white, 0.5);
    }

    &::before {
      content: "";
      position: absolute;
      top: 9px;
      left: 8px;
      width: 16px;
      height: 16px;
      background-color: transparent;
      border: 1px solid $white;
    }
  }

  & input[type="checkbox"] {
    position: absolute;
    bottom: 0;
    right: 5px;
  }

  & input[type="checkbox"]:focus + label[for="checked"] {
    outline: 1px solid black;
    color: rgba($white, 1);
  }

  & input[type="checkbox"]:checked + label[for="checked"] {
    &::before {
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 2L3.5 5L8 0.5' stroke='white'/%3E%3C/svg%3E");
    }
  }

  & div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  @media (max-width: $desktop-width) {
    width: 591px;
    margin-left: 4px;

    & h2 {
      font-size: 32px;
      line-height: 45px;
      margin-left: -4px;
    }

    & p {
      font-size: 16px;
      line-height: 22px;
      margin: 15px 0 55px;
    }

    & input:not([type="checkbox"]) {
      width: 280px;
      padding: 10px 19px 14px;
      font-size: 16px;
    }

    & textarea {
      margin-top: 43px;
      margin-bottom: 40px;
      min-height: 159px;
      padding: 10px 19px;
      font-size: 18px;
    }

    & button {
      width: 280px;
    }

    & label[for="checked"] {
      width: 280px;
    }
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-left: 0;
    padding: 0 15px;

    & h2 {
      margin: 0;
      font-size: 28px;
      line-height: 39px;
    }

    & p {
      margin: 13px 0 26px;
      font-size: 16px;
      line-height: 22px;
    }

    & input:not([type="checkbox"]) {
      width: 100%;
      margin-bottom: 32px;
    }

    & textarea {
      margin: 0 0 27px;
      width: 100%;
      min-height: 104px;
    }

    & button {
      width: 98%;
    }

    & label[for="checked"] {
      width: 100%;
      margin-top: 23px;
      padding-left: 34px;

      &::before {
        left: 0;
        width: 17px;
      }
    }
  }
}

.feedback__bottom {
  flex-direction: row-reverse;

  @media (max-width: $tablet-width) {
    flex-direction: column-reverse;
  }
}
