.promo {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 1556px;
  min-height: 878px;
  margin: 0 auto;
  padding-top: 272px;
  z-index: 10px;

  @media (max-width: $desktop-width) {
    min-height: 683px;
    padding-top: 145px;
    overflow: hidden;
  }

  @media (max-width: $tablet-width) {
    min-height: 647px;
    padding-top: 270px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 116px;
    right: 35px;
    width: 671px;
    height: 641px;
    background-image: url("../img/icon/rectangle-dt.svg");
    background-repeat: no-repeat;


    @media (max-width: $desktop-width) {
      background-image: url("../img/icon/rectangle-tablet.svg");
      top: 0;
      right: -344px;
    }

    @media (max-width: $mobile-width) {
      background-image: url("../img/icon/rectangle-mobile.svg");
      right: -500px;
    }
  }
}

.promo__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 52%;
  padding-left: 66px;
  margin: 0;
  z-index: 1;

  & h2 {
    @include main_title-desktop;
    max-width: 730px;
    margin: 42px 0 26px;

    @media (max-width: $desktop-width) {
      font-size: 60px;
    }

    @media (max-width: $tablet-width) {
      margin: 0 0 22px;
      font-size: 40px;
    }
  }

  & p {
    position: relative;
    max-width: 750px;
    margin: 0 0 45px;
    padding-left: 98px;
    font-size: 22px;
    line-height: 34px;
    color: $white;

    @media (max-width: $desktop) {
      width: 85%;
    }

    @media (max-width: $desktop-width) {
      width: 87%;
      margin-bottom: 54px;
      padding-left: 52px;
      font-size: 18px;
      line-height: 28px;
    }

    @media (max-width: $tablet-width) {
      width: 100%;
      margin-bottom: 44px;
      font-size: 16px;
      line-height: 25px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 66px;
      height: 2px;
      top: 17px;
      left: 3px;
      background-color: $white;

      @media (max-width: $desktop-width) {
        width: 35px;
      }
    }
  }

  @media (max-width: $desktop-width) {
    padding-left: 87px;
    width: 70%;
  }

  @media (max-width: $tablet-width) {
    padding: 15px;
    width: 100%;
    max-width: 525px;
    margin: 0 auto;
  }
}

.promo__btn-call {
  display: block;
  width: 407px;
  margin-left: 97px;
  padding: 18px 40px 17px;
  font-family: $font-family;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  background-color: $sky;
  border-radius: 5px;

  &:hover {
    background-color: $grey;
  }

  &--mobile {
    display: none;
  }

  @media (max-width: $desktop-width) {
    width: 379px;
    margin-left: 53px;
    padding: 18px 20px 17px;
  }

  @media (max-width: $tablet-width) {
    width: 290px;
    margin-left: 0;

    &--desktop {
      display: none;
    }

    &--mobile {
      display: block;
    }
  }
}

.promo__link {
  position: absolute;
  bottom: 128px;
  left: 32px;
  transform: rotate(270deg);
  font-size: 14px;
  color: $white;
  opacity: 0.5;

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.promo__img {
  position: absolute;
  bottom: 106px;
  right: -4px;
  width: 45%;
  z-index: -1;

  @media (max-width: $desktop-width) {
    bottom: unset;
    top: 113px;
    right: -205px;
    width: 60%;

    & img {
      width: 465px;
      height: 340px;
    }
  }

  @media (max-width: $tablet-width) {
    height: 305px;
    top: 92px;
    right: -27px;
    object-fit: cover;

    & img {
      width: 301px;
      height: 220px;
    }
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}
