.container {
  min-width: $mobile-width;
  max-width: $desktop;
  margin: 0 auto;
}

.btn {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 180px;
  padding: 13px 26px;
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  border: 1px solid $white;
  border-radius: 5px;

  &:hover,
  &:focus {
    color: $white;
    background-color: $sky;
  }

  &:active {
    color: rgba($white, 0.3);
    background-color: $sky;
  }
}

.link {
  text-decoration: none;
  background-color: transparent;

  &:hover,
  &:focus {
    color: $sky;
  }

  &:active {
    color: rgba($sky, 0.3);
  }
}
