$dark-gray: #1b2d37;

$dl-blue: #203c42;
$white: #ffffff;
$icon: #cdcdcd;
$grey: #788891;
$light-grey: #c4c4c4;
$sky: #00b2ff;
$black: #000000;
$gray: #353735;
$light-white: #fafafa;
$two-white: #ebebeb;
$dull-gray: #666666;

$font-family: "RobotoCondensed", "Arial", sans-serif;
// brackpoint
$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1023px;
$desktop: 1440px;
$tablet: 768px;
$mobile: 290px;
